

#customers, #Products tbody td {
    text-align: center;
    vertical-align: middle;
}
#customers_length, #ShoppingCart_info, #ShoppingCart_paginate, #ViewOrderTbl_filter, #Products_length {
    display: none;
}